.hero-image {
    background-image: url('images/Screenshot 2024-04-19 at 14.34.30.png'); /* Replace with your image */
    height: 500px;
    background-position: center;
    background-size: cover;
}
.people-helped-section {
    padding: 50px 0;
}
.people-helped-count {
    font-size: 48px;
    font-weight: bold;
    color: #00b894;
}
/* Base styles */
body {
font-family: sans-serif;
margin: 0;
padding: 0;
background-color: #fff;
}
img {
max-width: 100%;
height: auto;
}


/* Hero Section */
.hero {
display: flex;
flex-direction: column;
align-items: center;
padding: 2rem;
text-align: center;
}
.hero h1 {
font-size: 2rem;
margin-bottom: 1rem;
color: #27AAE1; /* Light Blue */
}
.hero p {
font-size: 1.2rem;
color: #333;
line-height: 1.5;
margin-bottom: 2rem;
}
.hero img {
width: 70%;
border-radius: 5px;
margin-bottom: 1rem;
}

/* Why Volunteer Section */
.why-volunteer {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 2rem 0;
}
.why-volunteer .card {
width: 30%;
background-color: #F0F8FF; /* Light Blue Grey */
padding: 1rem;
border-radius: 5px;
margin: 1rem;
text-align: center;
}
.why-volunteer .card h3 {
font-size: 1.2rem;
color: #27AAE1; /* Light Blue */
margin-bottom: 0.5rem;
}
.why-volunteer .card p {
font-size: 1rem;
color: #333;
line-height: 1.5;
}

/* Footer */
.footer {
background-color: #27AAE1; /* Light Blue */
color: #fff;
padding: 1rem 2rem;
text-align: center;
}

/* Media Queries */
@media (min-width: 768px) {
.hero {
flex-direction: row;
text-align: left;
}
.hero h1 {
font-size: 2.5rem;
}
.hero p {
font-size: 1.3rem;
}
.hero img {
width: 50%;
}
.why-volunteer .card {
width: 23%;
}
}

@media (min-width: 992px) {
.why-volunteer .card {
width: 18%;
}
}

/* Get Involved Section */
.get-involved {
padding: 2rem;
background-color: #E0F7FA; /* Light Green */
}
.get-involved h2 {
font-size: 2rem;
color: #228B22; /* Dark Green */
margin-bottom: 1.5rem;
text-align: center;
}
.get-involved button {
background-color: #27AAE1; /* Light Blue */
color: #fff;
border: none;
padding: 1rem 2rem;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
}
.get-involved button:hover {
background-color: #1B8DCD; /* Darker Blue */

}

.containersignform {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1); 
}


